<!DOCTYPE html>
<html lang="ru">
{% load static %}
<body>
    {%include 'includes/header.html'%}
    <title>{%block title%}Таблица рецептов{% endblock %}</title>
    <main>
      {% block content%} <div >
        <h2>Таблица рецептов</h2>
        <table width="140" border = '1' style="display: inline-block;">
          <tr>
            <td>id</td>
            <td>назвние рецепта</td>
          </tr>
          {% for recipe in recipes %}
          <tr>
            <td>{{recipe.id}}</td>
            <td>{{recipe.name}}</td>
          </tr>
          {% endfor %}
        </table>

      {% endblock %}
  </main>
    {%include 'includes/footer.html'%}
</body>
</html>
